Django==5.2.13
gunicorn==26.2.0
qrcode==8.2
Pillow==12.2.0
requests==2.33.1
validators==0.35.0
python-dotenv==1.2.2
openai==2.32.0
beautifulsoup4==4.14.3
lxml==6.0.4
lxml_html_clean==0.4.4
nltk==3.9.4
sumy==0.12.0
langdetect==1.0.9
joblib==1.5.3
regex==2026.4.4
user-agents==2.2.0
ua-parser==1.0.2
ua-parser-builtins==202603
pycountry==26.2.16